// Body
$body-bg: #f8fafc;
$tam: #ab0033;

$primary: #ab0033;    // Cambia al color deseado
$secondary: #6c757d;  // Cambia al color deseado
$success: #28a745;    // Cambia al color deseado
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;