// Body
$primary: #AB0033; /* Azul */
$primary-dark: #2563EB;  /* Azul oscuro */
$secondary: #54565A;  /* Verde */
$background-color: #F3F4F6;  /* Gris claro */
$text-color: #374151;  /* Gris oscuro */
$table-header: #E5E7EB;  /* Gris medio */
$light-color:#EAD7B6;
$dark-color: #2F3133;
$info: #DDC9A3;
$warning: #8C6E46;
$danger: #820027;
$success: #BC955C;