// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';



/*
$primary: #ab0033;    // Cambia al color deseado
$secondary: #6c757d;  // Cambia al color deseado
$success: #28a745;    // Cambia al color deseado
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
*/

// Bootstrap
@import 'bootstrap/scss/bootstrap';

